@page
@model Server.Pages.CountGamesPerPlayer
@{
    ViewData["Title"] = "Queries";
}

<h1>Queries</h1>


<h4 class="mb-3 mt-3">Games Count per Player</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Player ID
            </th>
            <th>
                Player Email
            </th>
            <th>
                Games count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.playerToGames)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameCount)
                </td>
            </tr>
        }
    </tbody>
</table>
