@page
@model FinalProjectDotNet.Pages.Index1Model
@{
    ViewData["Title"] = "About";
}

    <section class="our-webcoderskull padding-lg">
        <div class="container">
            <div class="row heading heading-icon">
                <h2>OUR TEAM</h2>
            </div>
            <ul class="row">
                <li class="col-12 col-md-6">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="https://media-exp1.licdn.com/dms/image/C4D03AQE5QuLHhDb9uw/profile-displayphoto-shrink_200_200/0?e=1600905600&v=beta&t=bx-Llq6KBx0tWGsyKOPGLqbqjA4OloAjrvMss4tl4ko" class="rounded-circle" alt=""></figure>
                        <h3>Roy Regev</h3>
                        <ul class="follow-us clearfix">
                            <li><i class="far fa-id-card"></i> 203024542</li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/roy-regev-126a5b147/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="col-12 col-md-6">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="https://media-exp1.licdn.com/dms/image/C4E03AQHa9TyFHpswag/profile-displayphoto-shrink_200_200/0?e=1600905600&v=beta&t=kTbCp5PUgzOkSSKcKbxRw14QJ-EDCdONfKfy1-eUMDQ" class="rounded-circle" alt=""></figure>
                        <h3>Ronen Rozen</h3>
                        <ul class="follow-us clearfix">
                            <li><i class="far fa-id-card"></i> 203024542</li>
                            <li><a href="https://github.com/ronenrozen"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/ronenrozen/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </section>